In [97]:
from functools import reduce

from mftool import Mftool
import pandas as pd
mf = Mftool()

equity = {
    "0P00012ALS": "Motilal Oswal Midcap 30 Direct Growth",
    "0P0000XW4J": "Quant Small Cap Fund Growth Option Direct Plan",
    "0P0000XW51": "Quant Tax Plan Growth Option Direct Plan",
}
debt = {
    "0P0000XUXV": "ICICI Prudential Gilt Fund Direct Plan Growth",
    "0P0000K1C8": "PGIM India Gilt Fund Growth",
    "0P0000XVBF": "PGIM India Dynamic Bond Fund Direct Plan Growth Option",
}
hybrid = {
    "0P00014MH9": "Kotak Equity Hybrid Fund - Direct Plan - Growth",
    "0P0000XW46": "Edelweiss Aggressive Hybrid -Direct Plan-Growth Option",
    "0P0000XZRU": "Kotak Debt Hybrid Direct Growth",
}
temp_list1 = []
temp_list2 = []
temp_list3 = []
for scheme_code in equity:
    temp_list1.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for scheme_code in debt:
    temp_list2.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for scheme_code in hybrid:
    temp_list3.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )
equity_dfs = dict(zip(equity, temp_list1))
debt_dfs = dict(zip(debt, temp_list2))
hybrid_dfs = dict(zip(hybrid, temp_list3))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [98]:
equity_dfs

{'0P00012ALS':                   nav  dayChange
 date
 29-08-2018  29.691700        NaN
 30-08-2018  29.525900  -0.165800
 31-08-2018  29.381001  -0.144899
 03-09-2018  29.109699  -0.271301
 04-09-2018  28.579201  -0.530499
 ...               ...        ...
 22-08-2023  66.828499   0.524200
 23-08-2023  67.223602   0.395103
 24-08-2023  67.724403   0.500801
 25-08-2023  67.555901  -0.168503
 28-08-2023  67.385498  -0.170403

 [1229 rows x 2 columns],
 '0P0000XW4J':                    nav  dayChange
 date
 29-08-2018   52.583500        NaN
 30-08-2018   52.462700  -0.120800
 31-08-2018   52.477299   0.014599
 03-09-2018   52.271099  -0.206200
 04-09-2018   51.953800  -0.317299
 ...                ...        ...
 22-08-2023  189.257706   1.286011
 23-08-2023  190.408997   1.151291
 24-08-2023  189.705002  -0.703995
 25-08-2023  188.326996  -1.378006
 28-08-2023  190.143707   1.816711

 [1229 rows x 2 columns],
 '0P0000XW51':                    nav  dayChange
 date
 29-08-2018   98.234497        NaN
 30-08-2018   98.169800  -0.064697
 31-08-2018   98.613503   0.443703
 03-09-2018   97.612396  -1.001106
 04-09-2018   96.152702  -1.459694
 ...                ...        ...
 22-08-2023  292.064392   1.079803
 23-08-2023  292.571686   0.507294
 24-08-2023  291.222107  -1.349579
 25-08-2023  288.174591  -3.047516
 28-08-2023  289.943512   1.768921

 [1228 rows x 2 columns]}

In [99]:
equity_dfs["0P00012ALS"]

                  nav  dayChange
date
29-08-2018  29.691700        NaN
30-08-2018  29.525900  -0.165800
31-08-2018  29.381001  -0.144899
03-09-2018  29.109699  -0.271301
04-09-2018  28.579201  -0.530499
...               ...        ...
22-08-2023  66.828499   0.524200
23-08-2023  67.223602   0.395103
24-08-2023  67.724403   0.500801
25-08-2023  67.555901  -0.168503
28-08-2023  67.385498  -0.170403

[1229 rows x 2 columns]

In [100]:
for scheme_code in equity:
    equity_dfs[scheme_code].reset_index(inplace=True)
    equity_dfs[scheme_code].drop(columns="dayChange", inplace=True)


for scheme_code in debt:
    debt_dfs[scheme_code].reset_index(inplace=True)
    debt_dfs[scheme_code].drop(columns="dayChange", inplace=True)


for scheme_code in hybrid:
    hybrid_dfs[scheme_code].reset_index(inplace=True)
    hybrid_dfs[scheme_code].drop(columns="dayChange", inplace=True)

In [106]:
for scheme_code in equity:
    print(equity_dfs[scheme_code][equity_dfs[scheme_code].isnull().any(axis=1)])

Empty DataFrame
Columns: [date, nav]
Index: []
Empty DataFrame
Columns: [date, nav]
Index: []
Empty DataFrame
Columns: [date, nav]
Index: []

In [107]:
for scheme_code in equity:
    print(equity_dfs[scheme_code].shape)
for scheme_code in debt:
    print(debt_dfs[scheme_code].shape)
for scheme_code in hybrid:
    print(hybrid_dfs[scheme_code].shape)

(1229, 2)
(1229, 2)
(1228, 2)
(1208, 2)
(1208, 2)
(1208, 2)
(1229, 2)
(1229, 2)
(1209, 2)

In [108]:
for scheme_code in equity:
    print(equity_dfs[scheme_code].dtypes)
for scheme_code in debt:
    print(debt_dfs[scheme_code].dtypes)
for scheme_code in hybrid:
    print(hybrid_dfs[scheme_code].dtypes)

date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object

In [110]:
for scheme_code in equity:
    equity_dfs[scheme_code]["date"] = pd.to_datetime(
        equity_dfs[scheme_code]["date"], dayfirst=True
    )
for scheme_code in debt:
    debt_dfs[scheme_code]["date"] = pd.to_datetime(
        debt_dfs[scheme_code]["date"], dayfirst=True
    )
for scheme_code in hybrid:
    hybrid_dfs[scheme_code]["date"] = pd.to_datetime(
        hybrid_dfs[scheme_code]["date"], dayfirst=True
    )

In [111]:
for scheme_code in equity:
    equity_dfs[scheme_code].rename(columns={"nav": equity[scheme_code]}, inplace=True)

for scheme_code in debt:
    debt_dfs[scheme_code].rename(columns={"nav": debt[scheme_code]}, inplace=True)

for scheme_code in hybrid:
    hybrid_dfs[scheme_code].rename(columns={"nav": hybrid[scheme_code]}, inplace=True)

In [112]:
equity_dfs

{'0P00012ALS':            date  Motilal Oswal Midcap 30 Direct Growth
 0    2018-08-29                              29.691700
 1    2018-08-30                              29.525900
 2    2018-08-31                              29.381001
 3    2018-09-03                              29.109699
 4    2018-09-04                              28.579201
 ...         ...                                    ...
 1224 2023-08-22                              66.828499
 1225 2023-08-23                              67.223602
 1226 2023-08-24                              67.724403
 1227 2023-08-25                              67.555901
 1228 2023-08-28                              67.385498

 [1229 rows x 2 columns],
 '0P0000XW4J':            date  Quant Small Cap Fund Growth Option Direct Plan
 0    2018-08-29                                       52.583500
 1    2018-08-30                                       52.462700
 2    2018-08-31                                       52.477299
 3    2018-09-03                                       52.271099
 4    2018-09-04                                       51.953800
 ...         ...                                             ...
 1224 2023-08-22                                      189.257706
 1225 2023-08-23                                      190.408997
 1226 2023-08-24                                      189.705002
 1227 2023-08-25                                      188.326996
 1228 2023-08-28                                      190.143707

 [1229 rows x 2 columns],
 '0P0000XW51':            date  Quant Tax Plan Growth Option Direct Plan
 0    2018-08-29                                 98.234497
 1    2018-08-30                                 98.169800
 2    2018-08-31                                 98.613503
 3    2018-09-03                                 97.612396
 4    2018-09-04                                 96.152702
 ...         ...                                       ...
 1223 2023-08-22                                292.064392
 1224 2023-08-23                                292.571686
 1225 2023-08-24                                291.222107
 1226 2023-08-25                                288.174591
 1227 2023-08-28                                289.943512

 [1228 rows x 2 columns]}

In [113]:
merge_equity = pd.DataFrame()
merge_debt = pd.DataFrame()
merge_hybrid = pd.DataFrame()

for df in equity_dfs.values():
    if merge_equity.empty:
        merge_equity = df
    else:
        merge_equity = pd.merge(merge_equity, df, on="date", how="outer")

for df in debt_dfs.values():
    if merge_debt.empty:
        merge_debt = df
    else:
        merge_debt = pd.merge(merge_debt, df, on="date", how="outer")

for df in hybrid_dfs.values():
    if merge_hybrid.empty:
        merge_hybrid = df
    else:
        merge_hybrid = pd.merge(merge_hybrid, df, on="date", how="outer")

In [114]:
merge_equity

,date,Motilal Oswal Midcap 30 Direct Growth,Quant Small Cap Fund Growth Option Direct Plan,Quant Tax Plan Growth Option Direct Plan
0,2018-08-29,29.691700,52.583500,98.234497
1,2018-08-30,29.525900,52.462700,98.169800
2,2018-08-31,29.381001,52.477299,98.613503
3,2018-09-03,29.109699,52.271099,97.612396
4,2018-09-04,28.579201,51.953800,96.152702
...,...,...,...,...
1224,2023-08-22,66.828499,189.257706,292.064392
1225,2023-08-23,67.223602,190.408997,292.571686
1226,2023-08-24,67.724403,189.705002,291.222107
1227,2023-08-25,67.555901,188.326996,288.174591
1228,2023-08-28,67.385498,190.143707,289.943512

In [118]:
merge_equity[merge_equity.isna()]

,date,Motilal Oswal Midcap 30 Direct Growth,Quant Small Cap Fund Growth Option Direct Plan,Quant Tax Plan Growth Option Direct Plan
0,NaT,NaN,NaN,NaN
1,NaT,NaN,NaN,NaN
2,NaT,NaN,NaN,NaN
3,NaT,NaN,NaN,NaN
4,NaT,NaN,NaN,NaN
...,...,...,...,...
1224,NaT,NaN,NaN,NaN
1225,NaT,NaN,NaN,NaN
1226,NaT,NaN,NaN,NaN
1227,NaT,NaN,NaN,NaN
1228,NaT,NaN,NaN,NaN

In [117]:
for scheme_name in equity.values():
    merge_equity[scheme_name] = (
        merge_equity[scheme_name] / merge_equity[scheme_name][0]
    ) * 100

for scheme_name in debt.values():
    merge_debt[scheme_name] = (
        merge_debt[scheme_name] / merge_debt[scheme_name][0]
    ) * 100

for scheme_name in hybrid.values():
    merge_hybrid[scheme_name] = (
        merge_hybrid[scheme_name] / merge_hybrid[scheme_name][0]
    ) * 100

In [119]:
for scheme_name in equity.values():
    merge_equity[scheme_name] = merge_equity[scheme_name].round(2)
for scheme_name in debt.values():
    merge_debt[scheme_name] = merge_debt[scheme_name].round(2)
for scheme_name in hybrid.values():
    merge_hybrid[scheme_name] = merge_hybrid[scheme_name].round(2)

In [120]:
merge_equity

,date,Motilal Oswal Midcap 30 Direct Growth,Quant Small Cap Fund Growth Option Direct Plan,Quant Tax Plan Growth Option Direct Plan
0,2018-08-29,100.00,100.00,100.00
1,2018-08-30,99.44,99.77,99.93
2,2018-08-31,98.95,99.80,100.39
3,2018-09-03,98.04,99.41,99.37
4,2018-09-04,96.25,98.80,97.88
...,...,...,...,...
1224,2023-08-22,225.07,359.92,297.31
1225,2023-08-23,226.41,362.11,297.83
1226,2023-08-24,228.09,360.77,296.46
1227,2023-08-25,227.52,358.15,293.35
1228,2023-08-28,226.95,361.60,295.15

In [121]:
merge_equity["avg_equity"] = merge_equity[equity.values()].mean(axis=1)
merge_debt["avg_debt"] = merge_debt[debt.values()].mean(axis=1)
merge_hybrid["avg_hybrid"] = merge_hybrid[hybrid.values()].mean(axis=1)

In [122]:
index_df = pd.read_csv(".//data_in//^NSEI.csv")

In [123]:
index_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-08-31,11675.849609,11727.650391,11640.099609,11680.500000,11680.500000,346500.0
1,2018-09-03,11751.799805,11751.799805,11567.400391,11582.349609,11582.349609,234400.0
2,2018-09-04,11598.750000,11602.549805,11496.849609,11520.299805,11520.299805,254800.0
3,2018-09-05,11514.849609,11542.650391,11393.849609,11476.950195,11476.950195,246100.0
4,2018-09-06,11514.150391,11562.250000,11436.049805,11536.900391,11536.900391,247900.0
...,...,...,...,...,...,...,...
1229,2023-08-24,19535.150391,19584.449219,19369.000000,19386.699219,19386.699219,268300.0
1230,2023-08-25,19297.400391,19339.550781,19229.699219,19265.800781,19265.800781,466500.0
1231,2023-08-28,19298.349609,19366.849609,19249.699219,19306.050781,19306.050781,248200.0
1232,2023-08-29,19374.849609,19377.900391,19309.099609,19342.650391,19342.650391,307400.0
1233,2023-08-30,19433.449219,19452.800781,19334.750000,19347.449219,19347.449219,0.0

In [124]:
index_df.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"], inplace=True)
index_df["Date"] = pd.to_datetime(index_df["Date"])

In [125]:
index_df

           Date         Close
0    2018-08-31  11680.500000
1    2018-09-03  11582.349609
2    2018-09-04  11520.299805
3    2018-09-05  11476.950195
4    2018-09-06  11536.900391
...         ...           ...
1229 2023-08-24  19386.699219
1230 2023-08-25  19265.800781
1231 2023-08-28  19306.050781
1232 2023-08-29  19342.650391
1233 2023-08-30  19347.449219

[1234 rows x 2 columns]

In [126]:
index_df['index_nrml'] = (
        index_df['Close'] / index_df['Close'][0]
    ) * 100
index_df['index_nrml'] = index_df['index_nrml'].round(2)
index_df.rename(columns={'Date':'date'},inplace=True)

In [127]:
index_df

           date         Close  index_nrml
0    2018-08-31  11680.500000      100.00
1    2018-09-03  11582.349609       99.16
2    2018-09-04  11520.299805       98.63
3    2018-09-05  11476.950195       98.26
4    2018-09-06  11536.900391       98.77
...         ...           ...         ...
1229 2023-08-24  19386.699219      165.97
1230 2023-08-25  19265.800781      164.94
1231 2023-08-28  19306.050781      165.28
1232 2023-08-29  19342.650391      165.60
1233 2023-08-30  19347.449219      165.64

[1234 rows x 3 columns]

In [129]:
merge_all_list=[merge_equity[['date','avg_equity']],merge_debt[['date','avg_debt']],merge_hybrid[['date','avg_hybrid']],index_df[['date','index_nrml']]]

result_df= reduce(lambda left,right: pd.merge(left,right,on=['date'],how='outer'),merge_all_list)

In [135]:
result_df[result_df.isnull().any(axis=1)].count()

date          31
avg_equity    24
avg_debt       3
avg_hybrid    24
index_nrml    26
dtype: int64

In [137]:
result_df=result_df.dropna()
result_df.reset_index(inplace=True)

In [139]:
result_df

      index       date  avg_equity    avg_debt  avg_hybrid  index_nrml
0         2 2018-08-31   99.713333   99.990000  100.093333      100.00
1         3 2018-09-03   98.940000  100.013333   99.586667       99.16
2         4 2018-09-04   97.643333   99.973333   98.806667       98.63
3         5 2018-09-05   97.130000   99.926667   98.523333       98.26
4         6 2018-09-06   97.623333   99.943333   98.783333       98.77
...     ...        ...         ...         ...         ...         ...
1200   1224 2023-08-22  294.100000  143.910000  185.326667      166.06
1201   1225 2023-08-23  295.450000  144.060000  185.780000      166.47
1202   1226 2023-08-24  295.106667  144.093333  185.970000      165.97
1203   1227 2023-08-25  293.006667  144.063333  185.316667      164.94
1204   1228 2023-08-28  294.566667  144.293333  185.896667      165.28

[1205 rows x 6 columns]

In [96]:
result_df.to_csv(".//data_out//result.csv")