In [18]:
from mftool import Mftool
import pandas as pd

mf = Mftool()

equity = {
    "0P00012ALS": "Motilal Oswal Midcap 30 Direct Growth",
    "0P0000XW4J": "Quant Small Cap Fund Growth Option Direct Plan",
    "0P0000XW51": "Quant Tax Plan Growth Option Direct Plan",
}
debt = {
    "0P0000XUXV": "ICICI Prudential Gilt Fund Direct Plan Growth",
    "0P0000K1C8": "PGIM India Gilt Fund Growth",
    "0P0000XVBF": "PGIM India Dynamic Bond Fund Direct Plan Growth Option",
}
hybrid = {
    "0P00014MH9": "Kotak Equity Hybrid Fund - Direct Plan - Growth",
    "0P0000XW46": "Edelweiss Aggressive Hybrid -Direct Plan-Growth Option",
    "0P0000XZRU": "Kotak Debt Hybrid Direct Growth",
}
temp_list1 = []
temp_list2 = []
temp_list3 = []
for scheme_code in equity:
    temp_list1.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for scheme_code in debt:
    temp_list2.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for scheme_code in hybrid:
    temp_list3.append(
        mf.history(scheme_code, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )
equity_dfs = dict(zip(equity, temp_list1))
debt_dfs = dict(zip(debt, temp_list2))
hybrid_dfs = dict(zip(hybrid, temp_list3))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [19]:
equity_dfs

{'0P00012ALS':                   nav  dayChange
 date
 29-08-2018  29.691700        NaN
 30-08-2018  29.525900  -0.165800
 31-08-2018  29.381001  -0.144899
 03-09-2018  29.109699  -0.271301
 04-09-2018  28.579201  -0.530499
 ...               ...        ...
 22-08-2023  66.828499   0.524200
 23-08-2023  67.223602   0.395103
 24-08-2023  67.724403   0.500801
 25-08-2023  67.555901  -0.168503
 28-08-2023  67.385498  -0.170403

 [1229 rows x 2 columns],
 '0P0000XW4J':                    nav  dayChange
 date
 29-08-2018   52.583500        NaN
 30-08-2018   52.462700  -0.120800
 31-08-2018   52.477299   0.014599
 03-09-2018   52.271099  -0.206200
 04-09-2018   51.953800  -0.317299
 ...                ...        ...
 22-08-2023  189.257706   1.286011
 23-08-2023  190.408997   1.151291
 24-08-2023  189.705002  -0.703995
 25-08-2023  188.326996  -1.378006
 28-08-2023  190.143707   1.816711

 [1229 rows x 2 columns],
 '0P0000XW51':                    nav  dayChange
 date
 29-08-2018   98.234497        NaN
 30-08-2018   98.169800  -0.064697
 31-08-2018   98.613503   0.443703
 03-09-2018   97.612396  -1.001106
 04-09-2018   96.152702  -1.459694
 ...                ...        ...
 22-08-2023  292.064392   1.079803
 23-08-2023  292.571686   0.507294
 24-08-2023  291.222107  -1.349579
 25-08-2023  288.174591  -3.047516
 28-08-2023  289.943512   1.768921

 [1228 rows x 2 columns]}

In [20]:
equity_dfs["0P00012ALS"]

                  nav  dayChange
date
29-08-2018  29.691700        NaN
30-08-2018  29.525900  -0.165800
31-08-2018  29.381001  -0.144899
03-09-2018  29.109699  -0.271301
04-09-2018  28.579201  -0.530499
...               ...        ...
22-08-2023  66.828499   0.524200
23-08-2023  67.223602   0.395103
24-08-2023  67.724403   0.500801
25-08-2023  67.555901  -0.168503
28-08-2023  67.385498  -0.170403

[1229 rows x 2 columns]

In [21]:
for scheme_code in equity:
    equity_dfs[scheme_code].reset_index(inplace=True)
    equity_dfs[scheme_code].drop(columns="dayChange", inplace=True)


for scheme_code in debt:
    debt_dfs[scheme_code].reset_index(inplace=True)
    debt_dfs[scheme_code].drop(columns="dayChange", inplace=True)


for scheme_code in hybrid:
    hybrid_dfs[scheme_code].reset_index(inplace=True)
    hybrid_dfs[scheme_code].drop(columns="dayChange", inplace=True)

In [22]:
for scheme_code in equity:
    print(equity_dfs[scheme_code][equity_dfs[scheme_code].isnull().any(axis=1)])

Empty DataFrame
Columns: [date, nav]
Index: []
Empty DataFrame
Columns: [date, nav]
Index: []
Empty DataFrame
Columns: [date, nav]
Index: []

In [23]:
for scheme_code in equity:
    print(equity_dfs[scheme_code].shape)
for scheme_code in debt:
    print(debt_dfs[scheme_code].shape)
for scheme_code in hybrid:
    print(hybrid_dfs[scheme_code].shape)

(1229, 2)
(1229, 2)
(1228, 2)
(1208, 2)
(1208, 2)
(1208, 2)
(1229, 2)
(1229, 2)
(1209, 2)

In [24]:
for scheme_code in equity:
    print(equity_dfs[scheme_code].dtypes)
for scheme_code in debt:
    print(debt_dfs[scheme_code].dtypes)
for scheme_code in hybrid:
    print(hybrid_dfs[scheme_code].dtypes)

date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object
date     object
nav     float64
dtype: object

In [25]:
for scheme_code in equity:
    equity_dfs[scheme_code]["date"] = pd.to_datetime(
        equity_dfs[scheme_code]["date"], dayfirst=True
    )
for scheme_code in debt:
    debt_dfs[scheme_code]["date"] = pd.to_datetime(
        debt_dfs[scheme_code]["date"], dayfirst=True
    )
for scheme_code in hybrid:
    hybrid_dfs[scheme_code]["date"] = pd.to_datetime(
        hybrid_dfs[scheme_code]["date"], dayfirst=True
    )

In [26]:
for scheme_code in equity:
    equity_dfs[scheme_code].rename(columns={"nav": equity[scheme_code]}, inplace=True)

for scheme_code in debt:
    debt_dfs[scheme_code].rename(columns={"nav": debt[scheme_code]}, inplace=True)

for scheme_code in hybrid:
    hybrid_dfs[scheme_code].rename(columns={"nav": hybrid[scheme_code]}, inplace=True)

In [29]:
equity_dfs

{'0P00012ALS':            date  Motilal Oswal Midcap 30 Direct Growth
 0    2018-08-29                              29.691700
 1    2018-08-30                              29.525900
 2    2018-08-31                              29.381001
 3    2018-09-03                              29.109699
 4    2018-09-04                              28.579201
 ...         ...                                    ...
 1224 2023-08-22                              66.828499
 1225 2023-08-23                              67.223602
 1226 2023-08-24                              67.724403
 1227 2023-08-25                              67.555901
 1228 2023-08-28                              67.385498

 [1229 rows x 2 columns],
 '0P0000XW4J':            date  Quant Small Cap Fund Growth Option Direct Plan
 0    2018-08-29                                       52.583500
 1    2018-08-30                                       52.462700
 2    2018-08-31                                       52.477299
 3    2018-09-03                                       52.271099
 4    2018-09-04                                       51.953800
 ...         ...                                             ...
 1224 2023-08-22                                      189.257706
 1225 2023-08-23                                      190.408997
 1226 2023-08-24                                      189.705002
 1227 2023-08-25                                      188.326996
 1228 2023-08-28                                      190.143707

 [1229 rows x 2 columns],
 '0P0000XW51':            date  Quant Tax Plan Growth Option Direct Plan
 0    2018-08-29                                 98.234497
 1    2018-08-30                                 98.169800
 2    2018-08-31                                 98.613503
 3    2018-09-03                                 97.612396
 4    2018-09-04                                 96.152702
 ...         ...                                       ...
 1223 2023-08-22                                292.064392
 1224 2023-08-23                                292.571686
 1225 2023-08-24                                291.222107
 1226 2023-08-25                                288.174591
 1227 2023-08-28                                289.943512

 [1228 rows x 2 columns]}

In [ ]:
merge_equity = pd.DataFrame()
merge_debt = pd.DataFrame()
merge_hybrid = pd.DataFrame()

for df in equity_dfs.values():
    if merge_equity.empty:
        merge_equity = df
    else:
        merge_equity = pd.merge(merge_equity, df, on="date", how="left")

for df in debt_dfs.values():
    if merge_debt.empty:
        merge_debt = df
    else:
        merge_debt = pd.merge(merge_debt, df, on="date", how="left")

for df in hybrid_dfs.values():
    if merge_hybrid.empty:
        merge_hybrid = df
    else:
        merge_hybrid = pd.merge(merge_hybrid, df, on="date", how="left")

In [30]:
merge_equity

,date,Motilal Oswal Midcap 30 Direct Growth,Quant Small Cap Fund Growth Option Direct Plan,Quant Tax Plan Growth Option Direct Plan
0,2018-08-29,29.691700,52.583500,98.234497
1,2018-08-30,29.525900,52.462700,98.169800
2,2018-08-31,29.381001,52.477299,98.613503
3,2018-09-03,29.109699,52.271099,97.612396
4,2018-09-04,28.579201,51.953800,96.152702
...,...,...,...,...
1224,2023-08-22,66.828499,189.257706,292.064392
1225,2023-08-23,67.223602,190.408997,292.571686
1226,2023-08-24,67.724403,189.705002,291.222107
1227,2023-08-25,67.555901,188.326996,288.174591
1228,2023-08-28,67.385498,190.143707,289.943512

In [31]:
for scheme_name in equity.values():
    merge_equity[scheme_name] = (
        merge_equity[scheme_name] / merge_equity[scheme_name][0]
    ) * 100

for scheme_name in debt.values():
    merge_debt[scheme_name] = (
        merge_debt[scheme_name] / merge_debt[scheme_name][0]
    ) * 100

for scheme_name in hybrid.values():
    merge_hybrid[scheme_name] = (
        merge_hybrid[scheme_name] / merge_hybrid[scheme_name][0]
    ) * 100

In [32]:
for scheme_name in equity.values():
    merge_equity[scheme_name]=merge_equity[scheme_name].round(2)
for scheme_name in debt.values():
    merge_debt[scheme_name]=merge_debt[scheme_name].round(2)
for scheme_name in hybrid.values():
    merge_hybrid[scheme_name]=merge_hybrid[scheme_name].round(2)

In [35]:
merge_equity

,date,Motilal Oswal Midcap 30 Direct Growth,Quant Small Cap Fund Growth Option Direct Plan,Quant Tax Plan Growth Option Direct Plan,avg_equity
0,2018-08-29,100.00,100.00,100.00,100.000000
1,2018-08-30,99.44,99.77,99.93,99.713333
2,2018-08-31,98.95,99.80,100.39,99.713333
3,2018-09-03,98.04,99.41,99.37,98.940000
4,2018-09-04,96.25,98.80,97.88,97.643333
...,...,...,...,...,...
1224,2023-08-22,225.07,359.92,297.31,294.100000
1225,2023-08-23,226.41,362.11,297.83,295.450000
1226,2023-08-24,228.09,360.77,296.46,295.106667
1227,2023-08-25,227.52,358.15,293.35,293.006667
1228,2023-08-28,226.95,361.60,295.15,294.566667

In [36]:

merge_equity["avg_equity"] = merge_equity[equity.values()].mean(axis=1)
merge_debt["avg_debt"] = merge_debt[debt.values()].mean(axis=1)
merge_hybrid["avg_hybrid"] = merge_hybrid[hybrid.values()].mean(axis=1)

In [39]:
merge_hybrid

,date,Kotak Equity Hybrid Fund - Direct Plan - Growth,Edelweiss Aggressive Hybrid -Direct Plan-Growth Option,Kotak Debt Hybrid Direct Growth,avg_hybrid
0,2018-08-29,100.00,100.00,100.00,100.000000
1,2018-08-30,99.88,100.04,100.04,99.986667
2,2018-08-31,99.97,100.23,100.08,100.093333
3,2018-09-03,99.61,99.25,99.90,99.586667
4,2018-09-04,98.63,98.57,99.22,98.806667
...,...,...,...,...,...
1224,2023-08-22,196.53,191.33,168.12,185.326667
1225,2023-08-23,197.15,191.82,168.37,185.780000
1226,2023-08-24,197.34,192.20,168.37,185.970000
1227,2023-08-25,196.68,191.22,168.05,185.316667
1228,2023-08-28,197.61,191.71,168.37,185.896667

In [13]:
index_df = pd.read_csv(".//data_in//^NSEI.csv")

In [14]:
index_df.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"], inplace=True)
index_df["Date"] = pd.to_datetime(index_df["Date"])

In [15]:
index_df

           Date         Close
0    2018-08-31  11680.500000
1    2018-09-03  11582.349609
2    2018-09-04  11520.299805
3    2018-09-05  11476.950195
4    2018-09-06  11536.900391
...         ...           ...
1229 2023-08-24  19386.699219
1230 2023-08-25  19265.800781
1231 2023-08-28  19306.050781
1232 2023-08-29  19342.650391
1233 2023-08-30  19347.449219

[1234 rows x 2 columns]

In [41]:
merge_equity.to_csv("check.csv")
# index_df.to_csv("index.csv")

In [20]:
# merge_df['avg']=(merge_df['nav_1'] + merge_df['nav_2'] + merge_df['nav_3'] + merge_df['nav_4'] + merge_df['nav_5'])/5
merge_df["avg"] = merge_df[["nav_1", "nav_2", "nav_3"]].mean(axis=1)

In [21]:
merge_df

           date       nav_1       nav_2       nav_3         avg
0    2018-08-29  100.000000  100.000000  100.000000  100.000000
1    2018-08-30   99.934140   99.992235  100.284065  100.070147
2    2018-08-31  100.385817  100.390430  100.921610  100.565952
3    2018-09-03   99.366719   99.738117   99.997356   99.700730
4    2018-09-04   97.880791   98.645316   98.810773   98.445627
...         ...         ...         ...         ...         ...
1223 2023-08-22  297.313470  284.933939  278.917247  287.054886
1224 2023-08-23  297.829881  284.818269  280.387030  287.678393
1225 2023-08-24  296.456047  283.061590  279.136490  286.218043
1226 2023-08-25  293.353760  281.561008  277.944562  284.286444
1227 2023-08-28  295.154473  283.503571  279.719305  286.125783

[1228 rows x 5 columns]