In [23]:
from mftool import Mftool
import pandas as pd

mf = Mftool()

equity = {
    "0P00012ALS": "Motilal Oswal Midcap 30 Direct Growth",
    "0P0000XW4J": "Quant Small Cap Fund Growth Option Direct Plan",
    "0P0000XW51": "Quant Tax Plan Growth Option Direct Plan",
}
debt = {
    "0P0000XUXV": "ICICI Prudential Gilt Fund Direct Plan Growth",
    "0P0000K1C8": "PGIM India Gilt Fund Growth",
    "0P0000XVBF": "PGIM India Dynamic Bond Fund Direct Plan Growth Option",
}
hybrid = {
    "0P00014MH9": "Kotak Equity Hybrid Fund - Direct Plan - Growth",
    "0P0000XW46": "Edelweiss Aggressive Hybrid -Direct Plan-Growth Option",
    "0P0000XZRU": "Kotak Debt Hybrid Direct Growth",
}
temp_list1 = []
temp_list2 = []
temp_list3 = []
for key in equity:
    temp_list1.append(
        mf.history(key, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for key in debt:
    temp_list2.append(
        mf.history(key, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )

for key in hybrid:
    temp_list3.append(
        mf.history(key, start="2018-08-29", end="2023-08-29", as_dataframe=True)
    )
equity_dfs = dict(zip(equity, temp_list1))
debt_dfs = dict(zip(equity, temp_list2))
hybrid_dfs = dict(zip(hybrid, temp_list3))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [24]:
mf.history("0P00012ALS", start="2018-08-29", end="2023-08-29", as_dataframe=True)

[*********************100%%**********************]  1 of 1 completed

                  nav  dayChange
date
29-08-2018  29.691700        NaN
30-08-2018  29.525900  -0.165800
31-08-2018  29.381001  -0.144899
03-09-2018  29.109699  -0.271301
04-09-2018  28.579201  -0.530499
...               ...        ...
22-08-2023  66.828499   0.524200
23-08-2023  67.223602   0.395103
24-08-2023  67.724403   0.500801
25-08-2023  67.555901  -0.168503
28-08-2023  67.385498  -0.170403

[1229 rows x 2 columns]

In [26]:
equity_dfs

{'0P00012ALS':                   nav  dayChange
 date
 29-08-2018  29.691700        NaN
 30-08-2018  29.525900  -0.165800
 31-08-2018  29.381001  -0.144899
 03-09-2018  29.109699  -0.271301
 04-09-2018  28.579201  -0.530499
 ...               ...        ...
 22-08-2023  66.828499   0.524200
 23-08-2023  67.223602   0.395103
 24-08-2023  67.724403   0.500801
 25-08-2023  67.555901  -0.168503
 28-08-2023  67.385498  -0.170403

 [1229 rows x 2 columns],
 '0P0000XW4J':                    nav  dayChange
 date
 29-08-2018   52.583500        NaN
 30-08-2018   52.462700  -0.120800
 31-08-2018   52.477299   0.014599
 03-09-2018   52.271099  -0.206200
 04-09-2018   51.953800  -0.317299
 ...                ...        ...
 22-08-2023  189.257706   1.286011
 23-08-2023  190.408997   1.151291
 24-08-2023  189.705002  -0.703995
 25-08-2023  188.326996  -1.378006
 28-08-2023  190.143707   1.816711

 [1229 rows x 2 columns],
 '0P0000XW51':                    nav  dayChange
 date
 29-08-2018   98.234497        NaN
 30-08-2018   98.169800  -0.064697
 31-08-2018   98.613503   0.443703
 03-09-2018   97.612396  -1.001106
 04-09-2018   96.152702  -1.459694
 ...                ...        ...
 22-08-2023  292.064392   1.079803
 23-08-2023  292.571686   0.507294
 24-08-2023  291.222107  -1.349579
 25-08-2023  288.174591  -3.047516
 28-08-2023  289.943512   1.768921

 [1228 rows x 2 columns]}

In [7]:
for fund in equity:
    equity_dfs[fund].reset_index(inplace=True)
    equity_dfs[fund].drop(columns="dayChange", inplace=True)
    equity_dfs[fund].dropna()

In [8]:
for fund in equity:
    print(equity_dfs[fund].shape)

(1229, 2)
(1228, 2)
(1228, 2)

In [9]:
temp_df = equity_dfs

In [10]:
for fund in equity:
    temp_df[fund]["date"] = pd.to_datetime(temp_df[fund]["date"])

C:\Users\Admin\AppData\Local\Temp\ipykernel_1512\3706023477.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  temp_df[fund]["date"] = pd.to_datetime(temp_df[fund]["date"])
C:\Users\Admin\AppData\Local\Temp\ipykernel_1512\3706023477.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  temp_df[fund]["date"] = pd.to_datetime(temp_df[fund]["date"])
C:\Users\Admin\AppData\Local\Temp\ipykernel_1512\3706023477.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  temp_df[fund]["date"] = pd.to_datetime(temp_df[fund]["date"])

In [7]:
for fund in equity:
    temp_df[fund] = temp_df[fund].dropna()

In [11]:
temp_df

{'0P0000XW4J':            date         nav
 0    2018-08-29   52.583500
 1    2018-08-30   52.462700
 2    2018-08-31   52.477299
 3    2018-09-03   52.271099
 4    2018-09-04   51.953800
 ...         ...         ...
 1224 2023-08-22  189.257706
 1225 2023-08-23  190.408997
 1226 2023-08-24  189.705002
 1227 2023-08-25  188.326996
 1228 2023-08-28  190.143707

 [1229 rows x 2 columns],
 '0P0000XW51':            date         nav
 0    2018-08-29   98.234497
 1    2018-08-30   98.169800
 2    2018-08-31   98.613503
 3    2018-09-03   97.612396
 4    2018-09-04   96.152702
 ...         ...         ...
 1223 2023-08-22  292.064392
 1224 2023-08-23  292.571686
 1225 2023-08-24  291.222107
 1226 2023-08-25  288.174591
 1227 2023-08-28  289.943512

 [1228 rows x 2 columns],
 '0P0000PTGR':            date         nav
 0    2018-08-29   44.335499
 1    2018-08-30   44.680901
 2    2018-08-31   44.976601
 3    2018-09-03   45.097900
 4    2018-09-04   44.359501
 ...         ...         ...
 1223 2023-08-22  117.790604
 1224 2023-08-23  118.442497
 1225 2023-08-24  118.184303
 1226 2023-08-25  118.073502
 1227 2023-08-28  118.742996

 [1228 rows x 2 columns]}

In [12]:
i = 1
for df in temp_df.values():
    df.rename(columns={"nav": f"nav_{i}"}, inplace=True)
    i += 1

In [13]:
temp_df

{'0P0000XW4J':            date       nav_1
 0    2018-08-29   52.583500
 1    2018-08-30   52.462700
 2    2018-08-31   52.477299
 3    2018-09-03   52.271099
 4    2018-09-04   51.953800
 ...         ...         ...
 1224 2023-08-22  189.257706
 1225 2023-08-23  190.408997
 1226 2023-08-24  189.705002
 1227 2023-08-25  188.326996
 1228 2023-08-28  190.143707

 [1229 rows x 2 columns],
 '0P0000XW51':            date       nav_2
 0    2018-08-29   98.234497
 1    2018-08-30   98.169800
 2    2018-08-31   98.613503
 3    2018-09-03   97.612396
 4    2018-09-04   96.152702
 ...         ...         ...
 1223 2023-08-22  292.064392
 1224 2023-08-23  292.571686
 1225 2023-08-24  291.222107
 1226 2023-08-25  288.174591
 1227 2023-08-28  289.943512

 [1228 rows x 2 columns],
 '0P0000PTGR':            date       nav_3
 0    2018-08-29   44.335499
 1    2018-08-30   44.680901
 2    2018-08-31   44.976601
 3    2018-09-03   45.097900
 4    2018-09-04   44.359501
 ...         ...         ...
 1223 2023-08-22  117.790604
 1224 2023-08-23  118.442497
 1225 2023-08-24  118.184303
 1226 2023-08-25  118.073502
 1227 2023-08-28  118.742996

 [1228 rows x 2 columns]}

In [14]:
merge_df = pd.DataFrame()

for df in temp_df.values():
    if merge_df.empty:
        merge_df = df
    else:
        merge_df = pd.merge(merge_df, df, on="date", how="left")


print(merge_df)

           date       nav_1       nav_2       nav_3
0    2018-08-29   52.583500   98.234497   44.335499
1    2018-08-30   52.462700   98.169800   44.680901
2    2018-08-31   52.477299   98.613503   44.976601
3    2018-09-03   52.271099   97.612396   45.097900
4    2018-09-04   51.953800   96.152702   44.359501
...         ...         ...         ...         ...
1224 2023-08-22  189.257706  292.064392  117.790604
1225 2023-08-23  190.408997  292.571686  118.442497
1226 2023-08-24  189.705002  291.222107  118.184303
1227 2023-08-25  188.326996  288.174591  118.073502
1228 2023-08-28  190.143707  289.943512  118.742996

[1229 rows x 4 columns]

In [10]:
for df in temp_df.values():
    print(df)

           date       nav_1
0    2018-08-29   98.234497
1    2018-08-30   98.169800
2    2018-08-31   98.613503
3    2018-09-03   97.612396
4    2018-09-04   96.152702
...         ...         ...
1223 2023-08-22  292.064392
1224 2023-08-23  292.571686
1225 2023-08-24  291.222107
1226 2023-08-25  288.174591
1227 2023-08-28  289.943512

[1228 rows x 2 columns]
           date       nav_2
0    2018-08-29   60.523399
1    2018-08-30   60.518700
2    2018-08-31   60.759701
3    2018-09-03   60.364899
4    2018-09-04   59.703499
...         ...         ...
1223 2023-08-22  172.451706
1224 2023-08-23  172.381699
1225 2023-08-24  171.318497
1226 2023-08-25  170.410294
1227 2023-08-28  171.585999

[1228 rows x 2 columns]
           date       nav_3
0    2018-08-29  188.692993
1    2018-08-30  189.229004
2    2018-08-31  190.432007
3    2018-09-03  188.688004
4    2018-09-04  186.449005
...         ...         ...
1224 2023-08-22  526.297302
1225 2023-08-23  529.070679
1226 2023-08-24  526.710999
1227 2023-08-25  524.461914
1228 2023-08-28  527.810730

[1229 rows x 2 columns]

In [11]:
merge_df.dtypes

date     datetime64[ns]
nav_1           float64
nav_2           float64
nav_3           float64
dtype: object

In [50]:
merge_df.dtypes

date     datetime64[ns]
nav_1           float64
nav_2           float64
nav_3           float64
nav_4           float64
nav_5           float64
dtype: object

In [13]:
index_df = pd.read_csv(".//data_in//^NSEI.csv")

In [14]:
index_df.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"], inplace=True)
index_df["Date"] = pd.to_datetime(index_df["Date"])

In [15]:
index_df

           Date         Close
0    2018-08-31  11680.500000
1    2018-09-03  11582.349609
2    2018-09-04  11520.299805
3    2018-09-05  11476.950195
4    2018-09-06  11536.900391
...         ...           ...
1229 2023-08-24  19386.699219
1230 2023-08-25  19265.800781
1231 2023-08-28  19306.050781
1232 2023-08-29  19342.650391
1233 2023-08-30  19347.449219

[1234 rows x 2 columns]

In [16]:
i = 1
for i in range(1, 4):
    print(merge_df[f"nav_{i}"])

0        98.234497
1        98.169800
2        98.613503
3        97.612396
4        96.152702
           ...
1223    292.064392
1224    292.571686
1225    291.222107
1226    288.174591
1227    289.943512
Name: nav_1, Length: 1228, dtype: float64
0        60.523399
1        60.518700
2        60.759701
3        60.364899
4        59.703499
           ...
1223    172.451706
1224    172.381699
1225    171.318497
1226    170.410294
1227    171.585999
Name: nav_2, Length: 1228, dtype: float64
0       188.692993
1       189.229004
2       190.432007
3       188.688004
4       186.449005
           ...
1223    526.297302
1224    529.070679
1225    526.710999
1226    524.461914
1227    527.810730
Name: nav_3, Length: 1228, dtype: float64

In [18]:
i = 1
for i in range(1, 4):
    merge_df[f"nav_{i}"] = (merge_df[f"nav_{i}"] / merge_df[f"nav_{i}"][0]) * 100
index_df["Close_nrml"] = (index_df["Close"] / index_df["Close"][0]) * 100

In [19]:
merge_df

           date       nav_1       nav_2       nav_3
0    2018-08-29  100.000000  100.000000  100.000000
1    2018-08-30   99.934140   99.992235  100.284065
2    2018-08-31  100.385817  100.390430  100.921610
3    2018-09-03   99.366719   99.738117   99.997356
4    2018-09-04   97.880791   98.645316   98.810773
...         ...         ...         ...         ...
1223 2023-08-22  297.313470  284.933939  278.917247
1224 2023-08-23  297.829881  284.818269  280.387030
1225 2023-08-24  296.456047  283.061590  279.136490
1226 2023-08-25  293.353760  281.561008  277.944562
1227 2023-08-28  295.154473  283.503571  279.719305

[1228 rows x 4 columns]

In [24]:
merge_df.to_csv("check.csv")
index_df.to_csv("index.csv")

In [20]:
# merge_df['avg']=(merge_df['nav_1'] + merge_df['nav_2'] + merge_df['nav_3'] + merge_df['nav_4'] + merge_df['nav_5'])/5
merge_df["avg"] = merge_df[["nav_1", "nav_2", "nav_3"]].mean(axis=1)

In [21]:
merge_df

           date       nav_1       nav_2       nav_3         avg
0    2018-08-29  100.000000  100.000000  100.000000  100.000000
1    2018-08-30   99.934140   99.992235  100.284065  100.070147
2    2018-08-31  100.385817  100.390430  100.921610  100.565952
3    2018-09-03   99.366719   99.738117   99.997356   99.700730
4    2018-09-04   97.880791   98.645316   98.810773   98.445627
...         ...         ...         ...         ...         ...
1223 2023-08-22  297.313470  284.933939  278.917247  287.054886
1224 2023-08-23  297.829881  284.818269  280.387030  287.678393
1225 2023-08-24  296.456047  283.061590  279.136490  286.218043
1226 2023-08-25  293.353760  281.561008  277.944562  284.286444
1227 2023-08-28  295.154473  283.503571  279.719305  286.125783

[1228 rows x 5 columns]